KESTRA_USERNAME=erin@local.dev
KESTRA_PASSWORD=Turtle2002$

AWS_ACCESS_KEY_ID=AKIAZBYGZFT6VFH3FJGP
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-west-2
ATHENA_OUTPUT_LOCATION=s3://aws-athena-query-results-us-west-2-622247619837/ 
S3_BUCKET=telco-churn-project-dev
